<%= form_with model: Inventory.new, url: inventories_path, method: :post, id: 'create-inventory-from', data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |f| %>
  <%= f.hidden_field :branch_id, value: current_branch.id %>
  <template data-nested-form-target="template">
    <%= f.fields_for :inventory_items, InventoryItem.new, child_index: 'NEW_RECORD' do |item| %>
      <%= render partial: 'inventories/partials/inventory_item_form', locals: { item: item } %>
    <% end %>
  </template>
  
  
  <div class="offcanvas offcanvas-end w-full w-sm-3/4 w-lg-1/3" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1"
    id="create-inventory" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="Label">Create Inventory</h5>
      <button type="button" class="btn-close text-reset text-xs" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pt-0">
      <div>
        <!-- Inputs -->
        <div class="row g-5 mb-5">
          <div class="col-md-12">
            <div class="">
              <%= f.label :type, 'Type', class: 'form-label' %>
              <%= f.select :type, Inventory.types, { prompt: false }, {class: 'form-select'} %>
            </div>
          </div>
          <div class="col-md-12">
            <div>
              <%= f.label :origin, 'Origin', class: 'form-label' %>
              <%= f.text_field :origin, class: 'form-control' %>
              <span class="d-block mt-2 text-sm text-muted">Please indicate address of the delivery.</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="">
              <%= f.label :remarks, 'Remarks', class: 'form-label' %>
              <%= f.text_area :remarks, class: 'form-control', rows: 3 %>
            </div>
          </div>
        </div>
        <!-- Uploads list group -->
        <%= f.label :inventory_items, 'Inventory items', class: 'form-label' %>
        <div class="list-group list-group-flush">
          <div data-nested-form-target="target"></div>
        </div>
        <div class="text-end w-full">
          <a class="btn btn-default shadow btn-neutral border-base text-sm" data-action="click->nested-form#add"><i class="bi bi-plus-lg me-2"></i>Add Item</a>
        </div>
      </div>
    </div>
    <div class="modal-footer bg-surface-secondary">
      <button type="button" class="btn btn-sm btn-neutral" data-bs-dismiss="offcanvas">Close</button>
      <%= f.button type: 'submit', class: 'btn btn-sm btn-primary' do %>
        Process
      <% end %>
    </div>
  </div>
<% end %>