<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3">
  <div class="container-xl">
    <!-- Navbar toggle -->
    <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
      <div class="avatar avatar-sm bg-primary text-white">
        <%= current_branch.initials.upcase %>
      </div>
    </a>

    <!-- Avatar -->
    <div class="dropdown order order-lg-3 ms-lg-4">
      <a class="d-block" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="avatar avatar-sm bg-warning rounded-circle text-white">
          <%= current_user.avatar_name %>
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-end">
        <div class="dropdown-header">
          <span class="d-block text-sm text-muted mb-1">Signed in as</span>
          <span class="d-block text-heading font-semibold"><%= current_user.email %></span>
        </div>
        <div class="dropdown-divider"></div>
        <%= link_to profiles_path, class: 'dropdown-item' do %>
          <i class="ni ni-settings-gear-65"></i>
          <span>My profile</span>
        <% end if current_user.staff? %>
        <%= link_to staffs_path, class: 'dropdown-item' do %>
          <span>My Staffs</span>
        <% end if current_user.owner? %>
        <div class="dropdown-divider"></div>
        <%= button_to destroy_user_session_path, method: 'delete', class: "dropdown-item" do %>
          <i class="ni ni-user-run"></i>
          <span>Logout</span>
        <% end %>
      </div>
    </div>
      <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Nav -->
      <div class="navbar-nav">
        <%= link_to point_of_sales_path, class:'nav-item nav-link' do %>
          Point of Sales
        <% end %>
        <%= link_to wallets_path, class: 'nav-item nav-link' do %>
          Wallet
        <% end %>
        <%= link_to orders_path, class: 'nav-item nav-link' do %>
          Orders
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">Inventory</a>
          <div class="dropdown-menu dropdown-menu-md p-0 shadow-6" aria-labelledby="">
            <div class="px-6 py-1">
              <%= link_to products_path, class: 'dropdown-group py-5  border-bottom' do %>
                <div class="d-flex">
                  <div class="lh-snug dropdown-helper">
                    <i class="bi bi-shop"></i>
                  </div>
                  <div class="ms-4">
                    <h6 class="dropdown-heading lh-snug mb-2">Products</h6>
                    <p class="dropdown-helper">List of Products</p>
                  </div>
                </div>
              <% end %>
              <a href="#" class="dropdown-group py-5  border-bottom" role="button">
                <div class="d-flex">
                  <div class="lh-snug dropdown-helper">
                    <i class="bi bi-newspaper"></i>
                  </div>
                  <div class="ms-4">
                    <h6 class="dropdown-heading lh-snug mb-2">Store Items</h6>
                    <p class="dropdown-helper">Spend less time creating pages using our examples.</p>
                  </div>
                </div>
              </a>
              <a href="#" class="dropdown-group py-5 " role="button">
                <div class="d-flex">
                  <div class="lh-snug dropdown-helper">
                    <i class="bi bi-envelope"></i>
                  </div>
                  <div class="ms-4">
                    <h6 class="dropdown-heading lh-snug mb-2">Manage Inventory</h6>
                    <p class="dropdown-helper">Spend less time creating pages using our examples.</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </li>
      </div>
      <!-- Right navigation -->
      <div class="navbar-nav align-items-lg-center d-none d-lg-flex ms-lg-auto">
          <a href="#" class="nav-link nav-link-icon px-3 position-relative">
              <i class="bi bi-chat"></i>
          </a>
          <a href="#" class="nav-link nav-link-icon px-3 position-relative">
              <i class="bi bi-bell"></i>
              <span class="w-3 h-3 bg-warning rounded-circle position-absolute top-2 end-2 border-2 border-dark d-inline-block"></span>
          </a>
      </div>
    </div>
  </div>
</nav>