<div class="offcanvas offcanvas-end show w-full w-sm-3/4 w-lg-1/3 " data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="product-create" aria-labelledby="offcanvasExampleLabel" data-controller="hello">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="Label">Add Product</h5>
      <button type="button" class="btn-close text-reset text-xs" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pt-0">
      <%= form_with model: current_branch.products.new, id: 'product-form', url: products_path, method: :post, local: false, html: { autocomplete: 'off'} do |f| %>
        <div>
          <div class="row g-5 mb-5">
            <div class="col-md-12">            
              <%= f.label :name, 'Name', class: 'form-label' %>
              <%= f.text_field :name, class: 'form-control', placeholder: 'Product name (Make it Unique)'%>
            </div>
            <div class="col-md-12">
              <%= f.label :category, 'Category', class: 'form-label' %>
              <%= select :product, :category_id, @category.collect { |cat| [cat.name, cat.id]}, { prompt: true }, { class: "form-select" } %>
            </div>
            <div class="col-md-12">
              <%= f.label :description, 'Description', class: 'form-label' %>
              <%= f.text_area :description, class: 'form-control', placeholder: 'Product description...', rows: 3 %>
            </div>
            <div class="col-md-12">
              <div>
                <%= f.label :cost, 'Cost', class: 'form-label' %>
                <div class="input-group input-group-inline">
                  <span class="input-group-text" id="">
                      &#8369;
                  </span>
                  <%= f.text_field :cost, class: 'form-control text-end', placeholder: "&#8369;99.00".html_safe %>
                </div>
                <span class="mt-2 valid-feedback">It should be greater than cost</span>
              </div>
            </div>            
            <div class="col-md-12">
              <div>
                <%= f.label :price, 'Price', class: 'form-label' %>
                <div class="input-group input-group-inline">
                  <span class="input-group-text" id="">
                      &#8369;
                  </span>
                  <%= f.text_field :price, class: 'form-control text-end', placeholder: "&#8369;99.00".html_safe, data: {  } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="modal-footer bg-surface-secondary">
      <button type="button" class="btn btn-sm btn-neutral" data-bs-dismiss="offcanvas">Close</button>
      <button type="button" class="btn btn-sm btn-primary" data-action="click->hello#submitForm">Save</button>
    </div>
</div>