  <div class="me-4">
    <div class="position-relative">
      <div class="avatar avatar-lg bg-surface-secondary rounded-2 text-white">
        <%= product_thumbnail(item.product) %>
      </div>
      <span class="icon icon-shape icon-xs text-xs rounded-circle bg-primary text-white position-absolute top-2 end-n3 translate-middle d-none">
        <i class="bi bi-star-fill" style="font-size: 10px;"></i>
      </span>
    </div>
  </div>
  <div class="flex-fill">
      <!-- Title -->
    <span class="d-block h6 text-sm font-bold mb-1"><%= item.product.name %></span>
    <!-- Subtitle -->
    <span class="d-block text-xs text-muted">
    <% if item.package? %>
      <%= item.description %>
    <% else %>
      <%= item.quantity %> <%= "piece".pluralize(item.quantity) %>
    <% end %>
    </span>
  </div>
  <% if !item.order.paid? %>
  <div class="ms-auto">
    <div class="dropdown">
      <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" id="dropdownMore1" aria-haspopup="true" aria-expanded="false">
        <i class="bi bi-three-dots-vertical"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="#!" class="dropdown-item">
          Apply Discount
        </a>
      </div>
    </div>
  </div>
  <div class="ms-4 text-end">
    <button type="button" class="text-xs btn font-bold text-primary" 
            data-action="click->point-of-sales#removeItem" 
            data-point-of-sales-item-id-param=<%= item.id%>
            data-point-of-sales-order-id-param=<%= @order.id %>
            >Remove</button>
  </div>
  <% end %>