<%= form_with scope: :staff, url: staffs_path, id: 'create-user-form', method: :post, html: { autocomplete: 'off'}, data: { controller: 'staffs', staffs_target: "staffForm" } do |f| %>
  <div class="offcanvas offcanvas-end w-full w-sm-3/4 w-lg-1/3" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="create-user-offcanvas">
    <div class="offcanvas-header border-bottom py-5 bg-surface-secondary">
      <h5 class="offcanvas-title" id="offcanvasCreateLabel">Create a new staff</h5>
      <button type="button" class="btn-close text-reset text-xs" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body vstack gap-5">
      <div>
        <%= f.label :email, "Email", class: 'form-label' %>
        <%= f.text_field :email, class: 'form-control', placeholder: 'johndoe@email.com' %>
        <span class="d-block mt-2 text-sm text-muted">Make it unique.</span>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.label :first_name, "First name", class: 'form-label' %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
        <div class="col-md-6">
          <%= f.label :last_name, "Last name", class: 'form-label' %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
      </div>
      <div>
        <%= f.label :address, "Address", class: 'form-label'%>
        <%= f.text_area :address, class:'form-control', placeholder: 'Floor, Building, Street', rows: 4 %>
      </div>
      <div>
        <label class="form-label">Select Role</label>
        <div class="hstack gap-3">
          <% User.roles.keys.each do |role| %>
            <% next if role == "owner" %>
            <div class="form-item-checkable">
              <%= f.radio_button :role, role, value: role, class: 'form-item-check', checked: role == "staff" %>
              <%= f.label :role, role, class: 'form-item d-flex flex-column align-items-center', value: role do %>
                <span class="form-item-click border-2 d-inline-flex align-items-center justify-content-center form-control w-24 h-24 text-center text-muted">
                  <%# <i class="bi bi-kanban" style="font-size:2rem"></i> %>
                  <span><%= role %></span>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <hr class="my-0">
      <div>
        <%= f.label :password, "Temporary Password", class: 'form-label' %>
        <div class="rounded px-2 py-2 border">
          <div class="row">
            <div class="col">
              <%= f.text_field :password, class: 'form-control shadow-none bg-transparent border-0', value: @generate_password, data: { staffs_target: "tempPassword" } %>
              <%= f.hidden_field :password_confirmation, value: @generate_password, data: { staffs_target: "tempPasswordConfirmation" } %>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-block btn-neutral shadow" data-action="click->staffs#refreshPassword">Refresh</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer py-2 bg-surface-secondary">
      <button type="button" class="btn btn-neutral" data-bs-dismiss="offcanvas">Close</button>
      <%= f.button type: 'submit', class: 'btn btn-primary', data: { action: 'click->staffs#submitUserBtn'} do %>
        Save
      <% end %>
    </div>
  </div>
<% end %>